<%- include("partials/header.ejs")%>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-5 text-center">
      <h1>Welcome</h1>
      <p class="lead">CSULB Tech News is an engaging and informative web application designed to serve the California State University, Long Beach (CSULB) community. It aims to be a central hub for the latest news, trends, and discussions related to technology, tailored specifically for students, faculty, and tech enthusiasts at CSULB.</p>
      <p class="lead">
        <a href="/explore" class="btn btn-lg btn-light fw-bold border-white bg-white">Explore</a>
      </p>
    </main>
  </div>
<%- include("partials/footer.ejs")%>

